Program Process 0/
Program Process 1/
Program Process 2/
Program Process 3/
Program Process 4/
Program Process 5/
Program Process 6/
Program Process 7/
Program Process 8/
Program Process 9/
Program Process 10/
Program Process 11/
Program Process 12/
__pycache__/
*.log
*_Temp.py
res.xlsx
MapFile.xlsx
ММК Кластер.docx
currentiter.json
~$res.xlsx
Log_file.txt